<!---  328/Week3/pets2/views/summary.html
       Author: Ahmad Reshad Yadgari 04/20/2024--->

<include href="views/header.html"></include>

<body>
<div class="container mt-5">
    <h1>Thank you! and here is summary of Your Pet Order</h1><br>
    <div>
        <p>Pet Type: {{ @SESSION.petData['petType'] }}</p>
        <p>Breed Type: {{ @SESSION.petData['breedType'] }}</p>
        <p>Pet Age: {{ @SESSION.petData['petAge'] }}</p>
        <p>Pet Color: {{ @SESSION.petData['petColor'] }}</p>
        <p>Pet Gender: {{ @SESSION.petData['petGender'] }}</p>
    </div>
    <a href="{{ @BASE }}">Return to Home page</a>
</div>
</body>
</html>
